# systemd service
# put binary to: /usr/bin/wireguard-keepalived
# put this file to: /etc/systemd/system/wireguard-keepalived.service
# then run:
#   systemctl daemon-reload && systemctl enable --now wireguard-keepalived

[Unit]
Description=WireGuard Keepalive Daemon
After=network.target wireguard-keepalived

[Service]
ExecStart=/usr/bin/wireguard-keepalived
Restart=always
User=root
# Adjust Environment if wg is not in standard path
# Environment="PATH=/usr/bin:/usr/local/bin"

[Install]
WantedBy=multi-user.target
